.btn {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
  height: 45px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 240px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(16, 39, 112, 0.25);
  background: rgb(92, 91, 91);
}

.btn:hover{
  background: rgb(53, 52, 52);
}
