.container {
	padding: 50px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.link-btn{
	border: 1px solid rgb(131, 130, 130);
	padding: 10px 25px;
	background-color: rgb(4, 112, 236);
	border-radius: 5px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	letter-spacing: 1pt;
}
.link-btn:hover{
	background-color: rgb(4, 68, 141);
}
.btn-body {
	margin-top: 200px;
	display: grid;
	justify-content: space-around;
	grid-template-columns:auto auto ;
}

