.grid-container {
	margin-bottom: 50px;
	display: grid;
	padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.diff-col-size{
	grid-template-columns:10% 20% 5% 15% 30% auto;
	background-color: #fa7fa8;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.eql-col-size{
	background-color: #d4f321;
	grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gutter {
	grid-template-columns:auto auto auto;
	background-color: #21f380;
}
.range-input {
	width: 100%;
	margin-bottom: 30px;
}

  